<!--<div class="{{$ctrl.getItemClass()}}">-->
  <div ng-class="{'timeout': true, 'out': $ctrl.device.HaveTimeout}" ></div>
  <div ng-if="$ctrl.getBatteryVisible()" class="battery"></div>
  <div class="name bold">{{$ctrl.device.Name}}</div>
  <!--<div class="state bold">{{$ctrl.getStatus()}}</div>-->
  <img class="action" ng-class="{{$ctrl.getImageClasses()}}" ng-src="{{$ctrl.getImage()}}" ng-click="$ctrl.isAllow?$ctrl.Click():null"/>
  <!--<div class="info">{{$ctrl.getInfo()}}</div>-->
  <div ng-if="!$ctrl.dashboard" ng-class="{'smallicon favorite':true, 'isfavorite' : $ctrl.device.Favorite}"></div>
  <div ng-if="$ctrl.isSelector" class="selector">
    <label ng-if="!$ctrl.isAllow"
    ng-repeat="level in $ctrl.getLevels()"
    ng-class="{'btn btn-small':true, 'btn-info': $ctrl.isSelectedLevel($index)}">
    {{level}}
    </label>
    <button ng-if="$ctrl.isAllow" type="button"
      ng-repeat="level in $ctrl.getLevels()"
      ng-class="{'btn btn-small':true, 'btn-info':  $ctrl.isSelectedLevel($index)}"
      ng-click="$ctrl.isAllow?$ctrl.Click(level):null" >
      {{level.label}}
    </button>
  </div>
  <!--<ul class="actions" ng-if="!$ctrl.dashboard">
      <li>Log</li>
      <li>Edit</li>
      <li>Timers</li>
      <li>Notifications</li>
  </ul>-->
  <div class="ts-planning component" ng-click="$ctrl.gotoPlanning()"></div>
<!--</div>-->
